.container {
    position: relative;
    text-align: center;
  }
  
  #anh {
    display: block;
    margin: auto;
  }
  
  .btn_container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    font-size: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    justify-content: space-between;
    margin: auto;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  
  