form {
    width: 800px;
    margin: 100px auto;
    border: 1px solid darkslategrey;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    transform: rotate(0deg);
}
body {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    
}
h3 { font-size: 25px;}
label {
    width: 120px;
    display: inline-block;
   
}
p { margin-left: 15px; background-color:white;}
input[id], select {
    padding: 8px;
    width: 420px;
    background-color: salmon;
    border: none;
}
button {
    width: 140px;
    height: 40px;
    border: none;
    background-color: green;
}